html
   head
      title Form Tester
   body
        form(action = "/", method = "POST")
            div 
                label(for = "fn") First Name: 
                input(name = "First Name" value = "Default")
            br
            div 
                label(for = "ln") Last Name: 
                input(name = "Last Name" value = "Default")
            br
            button(type = "Submit") SEND