html
   head
      title Form Tester
   body
        form(action = "/", method = "POST")
            div 
                label(for = "fn1") First Name: 
                input(name = "fn" value = "Default")
            br
            div 
                label(for = "ln1") Last Name: 
                input(name = "ln" value = "Default")
            br
            button(type = "Submit") SEND