html 
    head 
        title Update 
    body 
        h2 Select your choice: 
        form(action = "main", method = "POST")
            div
                label Create 
                    input(type='radio', name='label', id='create', value='c')
                br
                br
                label View 
                    input(type='radio', name='label', id='view', value='v')
                br
                br
                label Update 
                    input(type='radio', name='label', id='update', value='u')
                br
                br
                label Delete 
                    input(type='radio', name='label', id='delete', value='d')
                br
                br
                button(type = "Submit") Submit