html 
    head 
        title Update 
    body 
    h2 View

    h3 View All
        br
        a(href="view_all")
            button(type="button") Submit 

    br
    h3 View Custom
        form(action = "view_custom", method = "POST")
                div 
                    label Enter name to search 
                        input(name="name") 
                    br
                    label Enter age to search 
                        input(name="age") 
                    br
                    label Enter nationality to search 
                        input(name="nationality") 
                    br
                    button(type="submit") Submit