html 
    head 
        title Delete 
    body 
    h2 Delete
    form(action = "delete", method = "POST")
        div 
            label Enter name to delete 
                input(name="name") 
            br
            label Enter age to delete 
                input(name="age") 
            br
            label Enter nationality to delete 
                input(name="nationality") 
            br
            button(type="submit") Submit