html 
    head 
        title Update 
    body 
        form(action = "main", method = "POST")
            div 
                label(for="name") Enter the new name:
                input(name="name")
                br
                label(for="age") Enter the age: 
                input(name="name")
                br
                label(for="nationality") Enter the new nation:
                input(name="nationality")
                br
                button(type="submit") Submit